---
layout: page
title: Music
subtitle: Feel my passion through rhythm
permalink: /hobbies/music/
---

<div class="sidenav">
    <a href="#cover">Music Cover</a>
</div>
  
<div class="main">

    <h4>Music Taste</h4>
    <p>
        I'm a music enthusiast enjoying mainly <b>POP</b> and <b>ROCK</b> music (including <i>J-pop</i> and <i>K-pop</i>). 
        My favourite ones are those combining the <i>national/cultural</i> <i>traditional/retro</i> music style with international pop style, 
        like <a href="https://en.wikipedia.org/wiki/Wagakki_Band" target="_blank">Wagakki Band (和楽器バンド)</a> 
        that uses Japanese traditional musical instruments in <i>pop/rock</i> music.
    </p>

    <h4>Musician Me</h4>
    <p>
        Besides enjoying music, I'm also a hobbyist drummer/bass guitarist. I both play at home for fun and at worship in Church.
    </p>

    <hr />

    <h2 id="cover">Music Cover</h2>

{% assign num = 0 %}

{% assign sheet_pages = site.pages | where: "layout", "sheet" %}
{% for sheet_page in sheet_pages %}
    {% assign num = num | plus: 1 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
        <div class="column">
            <a href="{{ sheet_page.url | prepend: site.baseurl }}"><h3>{{ sheet_page.title }}</h3></a>
            <p>{{ sheet_page.subtitle }}</p>
        </div>
    {% if num == 3 %}
        {% assign num = 0 %}
    </div>
    {% endif %}
{% endfor %}

{% if num != 0 %}
    </div>
{% endif %}

</div>  