---
layout: base
---

{% include header.html type="page" %}

<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>

<style>

  /* Layout */
  .row,
  .row > .column {
    padding: 8px;
  }

  .row {
    display: table;
    width: 100%;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    background-color: #f1f1f1;
    display: table-cell;
    width: 33%;
    border: 10px solid white;
  }

  div.column h3{
    text-align: center;
  }
  
  div.column p{
    text-align: center;
  }

  /* Create four equal columns that floats next to each other */
  .column-4 {
    background-color: #f1f1f1;
    display: table-cell;
    width: 25%;
    border: 10px solid white;
  }

  div.column-4 h3{
    text-align: center;
  }
  
  div.column-4 p{
    text-align: center;
  }

  /* Side Menu */
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 10px;
    background: #f1f1f1;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #404040;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  
  .sidenav a:hover {
    color: #0085A1;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
  }

  @media only screen and (max-width: 600px) {
    .column { 
      display: block;
      width: 100%;
    }

    .column-4 { 
      display: block;
      width: 100%;
    }

    /* Side Menu */
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Quote code */

  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/* Bar Chart code */
/* styles for graphic info (hed, subhed, source, credit) */
.rg-container {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 1em 0;
	color: #1a1a1a;
}
/* styles for graphic */
.rg-barchart-row {
	margin-bottom: 1em;
}
.rg-barchart-row-name {
	margin: 0.1em 0 0.1em 0;
	width: 100%;
	font-size: 0.85em;
	color: #222;
}
.rg-barchart-row-bar {
	height: 1.2em;
}
.rg-barchart-row-bar-inner {
	display: inline-block;
	height: 100%;
	background: #2980b9;
}
.rg-barchart-row-value {
	display: inline-block;
	vertical-align: top;
	line-height: 1.5;
	margin-left: .5em;
	font-size: .8em;
	font-weight: 700;
}

</style>